.left {
  background-color: rgb(182, 106, 8);
  display: flex;
  width: 33%;
  height: 100vh;
}

#center {
  background-color: rgb(253, 199, 82);
  display: flex;
  width: 33%;
  height: 100vh;
}

.right {
  background-color: gray;
  display: flex;
  width: 33%;
  height: 100vh;
}

body {
 display: flex;
 justify-content: space-between;
}


#hide {
  display: none;
}

.first {
  display:none;
}

.second {
  display:none;
}

.third {
  display:none;
}

.four {
  display:none;
}

.five {
  display:none;
}

.clicks  {
  cursor: pointer;
}

.hiden {
  cursor: pointer;
}

.hiden1 {
  cursor: pointer;
}

.hiden2 {
  cursor: pointer;
}

.hiden3 {
  cursor: pointer;
}

.hiden4 {
  cursor: pointer;
}



